DOMAIN=
COMPOSE_PROJECT_NAME=
SENTRY_DSN=

DB_NAME=mr
DB_USER=mr
DB_PASSWORD=mr

HOST=
HOST_USERNAME=
APP_NAME=backend
SHARE_PATH=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
